# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
- List popular languages for data science -
- Some common libraries used -
- Data Science Tools -

Some of the popular languages that Data Scientists use are:
1. Pyhton
2. C++
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. Numpy
4. Tensorflow

|Data Science Tools|
|-----|
|Jupyter Notebook|
|Apache Spark|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python:

This a simple arithmetic expression to mutiply then add integers:

In [11]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [12]:
200/60

3.3333333333333335

## Author
Hasaan Malik